<nav>
  <div class="breadCrumb module">
    <ul>
      <li>
          Cadastros
      </li>
      <li>&#187;</li>
      <li>
          <a href="/cities">Cidades</a>
      </li>
      <li>&#187;</li>
      <li>
          <a href="#"> Novo </a>
      </li>
    </ul>
  </div>
</nav>
<%= render 'form' %>

