<p id="notice"><%= notice %></p>

<p>
  <strong>Nome:</strong>
  <%= @nacionalidade.nome %>
</p>

<%= link_to 'Edit', edit_nacionalidade_path(@nacionalidade) %> |
<%= link_to 'Back', nacionalidades_path %>
