<nav>
  <div class="breadCrumb module">
      <ul>
          <li>
              Cadastros
          </li>
          <li>&#187;</li>
          <li>
              <a href="#">Empresa</a>
          </li>
          <li>&#187;</li>
          <li>
              <a href="#"> Perfil </a>
          </li>

      </ul>
  </div>
</nav>

<%= render partial: "empresa_perfils/perfil", locals: {empresa_perfil: @empresa_perfil} %>
