<h1>Listing dias_semanas_empresa_perfils</h1>

<table>
  <thead>
    <tr>
      <th>Empresa perfil</th>
      <th>Dias semana</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @days.each do |d| %>
      <tr>
        <td><%= d.vale_transporte %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Dias semanas empresa perfil', new_dias_semanas_empresa_perfil_path %>
